<div class="row">
    <div class="col-md-4">
        <button class="btn btn-primary" id="new-mathematician">New Mathematician</button>
    </div>
</div>

<div id="new-mathematician-modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Mathematician</h5>
                <button type="button" class="close" data-dismiss="modal" area-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Create a new mathematician.</p>
            </div>
            <div class="modal-footer">
                <button id="new-mathematician-create" type="button" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var _links = {
            getNewMathematician: '@Url.HttpRouteUrl("GetNewMathematician", new { })',
            createMathematician: '@Url.HttpRouteUrl("CreateMathematician", new { })'
        };

        $(document).ready(function () {
            var newMathematician = null;

            $('#new-mathematician').on('click', function () {
                $.get(_links.getNewMathematician)
                    .done(function (response) {
                        newMathematician = response;
                        $('#new-mathematician-modal').modal();
                    });
            });

            $('#new-mathematician-create').on('click', function () {
                $.ajax(_links.createMathematician, {
                        type: 'POST',
                        data: JSON.stringify(newMathematician),
                        contentType: 'application/json'
                    })
                    .done(function (response) {
                        newMathematician = null;
                        $('#new-mathematician-modal').modal('hide');
                    });
            });
        });
    </script>    
}